@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", serif;
    /* font-weight: 300; */
    /* font-style: normal; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner section styles */

.banner-container {
    /* border: 2px solid red; */
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(images/banner-image.png);
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color overlay */
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 120px;
}

.banner-content {
    height: 600px;
    /* height must be use, otherwise not work */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row = left to right, column = top to bottom */
    align-items: center;
    /* left to right */
}

.banner-content p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 16px;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* Banner section styles finished */


/* Discount section styles */

.discount-container {
    /* border: 2px solid red; */
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.discount-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discount-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
}

.happy-new-year {
    width: 802.9px;
    height: 500px;
}

/* Discount section styles finished */


/* Midnight party section styles */

.midnight-container {
    /* border: 2px solid red; */
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url(images/midnight-party.png);
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 120px;
    border-radius: 16px;
}

.midnight-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-top: 126px;
}

.midnight-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.jn a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    position: relative;
    left: 5%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.right-side-image {
    position: relative;
    width: 349.16px;
    height: 464.65px;
    top: 11%;
    right: 1%;
}

/* Midnight party section styles finished */


/* Coming soon section styles */
.coming-soon-container {
    width: 1320px;
    height: 463px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.left-side-content {
    width: 33%;
    height: 463px;
    /* border: 2px solid red; */
    position: absolute;
    top: 35%;
}

.middle-side-content {
    width: 33%;
    height: 463px;
    /* border: 2px solid red; */
    position: absolute;
    left: 38%;
}

.right-side-content {
    width: 36%;
    height: 463px;
    /* border: 2px solid red; */
    position: absolute;
    left: 83.5%;
    top: 30%;
}

.right-side-content h1 {
    
}

.img-circle {
    border: #FF0000 20px solid;
    border-radius: 50%;
    padding: 30px;
}